html, body {
    height: 100%;
}

body {
    margin: 0;
}

#banner {
    width: auto;
    margin: auto;
}

#photoFrame {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 70vh;
}

.btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

#photo {
    display: none;
    border: 1px solid black;
}

#canvas {
    display: none;
}

#inputImage {
    display: none;
}

#takeBtn, #upBtn {
    display: block;
    position: relative;
    /*margin-left: auto;
    bottom: 32px;*/
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 5vw;
    height: 5vh;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
    z-index: 999;
}

#takeBtn {
    margin-right: 20px;
}

#upBtn {
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    justify-content: center;
}
